<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>677796959560-br65a1e25bebr4kun1cd26dijtv8gbvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677796959560-br65a1e25bebr4kun1cd26dijtv8gbvu</string>
	<key>API_KEY</key>
	<string>AIzaSyB2X1iObrwl12M_U2Q71bUXMGRkGLe0RD8</string>
	<key>GCM_SENDER_ID</key>
	<string>677796959560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Fieldtekpro.Enstrapp</string>
	<key>PROJECT_ID</key>
	<string>fieldtekpro-cgpl-od</string>
	<key>STORAGE_BUCKET</key>
	<string>fieldtekpro-cgpl-od.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677796959560:ios:61bede48165f9776</string>
	<key>DATABASE_URL</key>
	<string>https://fieldtekpro-cgpl-od.firebaseio.com</string>
</dict>
</plist>